<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Cronos</title>
    <link rel="stylesheet" href="css/style1.css">
    
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <img src="imgs/logot.png" alt="Logo" class="logo">
        </div>
        <h2>Cronos</h2>
        <form id="login-form" method="post">
            <div class="login-form">
              <label class="textq">E-mail:</label>

              <input type="text" id="username" name="username" placeholder="Exemplo@123.com" required>

              <label class="textq">Senha:</label>

              <input type="password" id="password" name="password" placeholder="Digite a sua senha" required>

              <button type="button" class="pass" id="forgot-password-btn">Esqueci minha senha</button>
            </div>
            <div class="espaco"></div>
            <input type="submit" value="Entrar">
          </form>
          <div class="espaco1"></div>
        <button type="button" class="cada" id="login-btn" onclick="window.location.href='cadastro.html'">Quero me cadastrar</button>
    </div>
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
