<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha - Cronos</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="./css/style.css">
    <script src="js/sweetalert.js"></script>
    <script src="js/jquery.js"></script>
</head>
<body>
    <section class="sbody">
        <div class="container" id="login">
            <div class="container" id="container-logo">
                <img src="./img/logots.png" alt="Logo do App" class="logo">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Nova Senha:</label>
                <input class="form-control" id="new-password" type="password" placeholder="Digite sua Nova Senha" maxlength="20" minlength="8" required/>
                <label for="new-password" class="fix" id="fix-data-new-pass"></label>
            </div> 
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirme a Nova Senha:</label>
                <input class="form-control" id="confirm-password" type="password" placeholder="Confirme sua Nova Senha" maxlength="20" minlength="8" required/>
                <label for="confirm-password" class="fix" id="fix-data-confirm-pass"></label>
            </div> 
            <div class="container">
                <button class="btn btn-primary" onclick="modifyPass()">Alterar Senha</button>
            </div>
        </div>
    </section>
    <script src="js/bootstrap.bundle.min.js"></script>    
    <script src="./js/paginaLogin.js"></script>
    <script src="./js/paginaEditaSenha.js"></script>
    <script src="../model/Axios.js"></script>
    <script src="../controller/validateController.js"></script>
    <script src="../controller/modelController.js"></script>
</body>
</html>