<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controller/modelController.js"></script>
    <script src="./js/mudaCor.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="js/sweetalert.js"></script>
    <script src="../model/Axios.js"></script>
    <script src="./js/atividadesEmpresa.js" defer></script>
    <script src="./js/paginaEmpresa.js" defer></script>
    <title>Empresa - Cronos</title>
</head>
<body>
    <script src="./js/header.js"></script>
    <section class="sbody2">
        <form action="#" class="form">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="text-left no-wrap h2-user">Configurações da Empresa</h2>
                </div>
                <div class="col text-end" style="display:none">
                    <img src="img/pngegg.png" alt="Foto da Empresa" class="img-fluid" style="max-width: 90px;">
                </div>
            </div>

            <div class="btn-list d-flex flex-column align-items-center">
                <a class="btn-conf width-50" onclick="window.location.href='paginaAlteraEmpresa.html'">Informações da empresa</a>
                <a class="btn-conf width-50" onclick="showParticipants()">Participantes</a>
                <button type="button" class='project-activites__add' onclick="showAddActivityPopup2()">Adicionar Atividades</button>
                <button type="button" class='project-activites__add' onclick="showAddActivityPopup()">Adicionar Atividades com IA</button>

            </div>
            <div id="temporary-activities" style="display:none"></div>
        </form>
        <nav>
            <ul>
                <li><a href="paginaEmpresa.html"><img src="img/pranchetas.png" alt="Icone de Tarefas" class="img-fluid usuario-imagem" style="max-width: 50px;"></a></li>
                <li><a href="paginaInicial.html"><img src="img/casa.png" alt="Icone de Início" class="img-fluid usuario-imagem" style="max-width: 60px;"></a></li>
                <li><a href="paginaUsuario.html"><img src="img/definicoes.png" alt="Icone de Configurações" class="img-fluid usuario-imagem" style="max-width: 50px;"></a></li>
            </ul>
        </nav>
    </section>
</body>
</html>
