<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronos</title>
    <link rel="stylesheet" href="css/style.css" defer>
    <script src="./js/mudaCor.js" defer></script>
</head>
<body>
    
    <section class="sbody-3">

    <div class="container-C">

        <img src="img/logots1.png" alt="Logo Cronos" class="logo-C">
        <h1 class="title-C">Cronos</h1>

    </div>

    <script src="js/paginaCoberta.js"></script>

</section>
</body>
</html>
