<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style2.css">

        <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
        />
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="./js/paginaTare.js" defer></script>
        <script src="./js/mudaCor.js" defer></script>

        <title>Atividades - Cronos</title>

    </head>
    <body>
       <section class="sbody-4">

        <header class="header-geral"> 
          <div class="header-content">
              <div class="company-info">
                  <h1 class="cortxt">Nome da Empresa</h1>
                  <p>CNPJ: 00.000.000/0001-00</p>
              </div>
              <img src="img/pngegg.png" alt="Logo da Empresa" class="company-logo">
          </div>
      </header>

        <div class='app'>
          <main class='project'>

           <div class='project-info'>
             <h1>Atividades da Empresa</h1>
              <div class='project-participants'>
                <span></span>
                <span></span>
                <span></span>

                <button class='project-activites__add'>Adicionar Atividades</button>
                <button class='project-participants__add' id="adicionar-participante">Adicionar Participantes</button>
              </div>

              <div class='search-filter'>
                <input type='text' id='search-bar' placeholder='Buscar atividades...' />
                <select id='status-filter'>
                  <option value='all'>Todas</option>
                  <option value='in-progress'>Em Progresso</option>
                  <option value='done'>Concluídas</option>
                </select>
              </div>

            </div>
          <div class='project-tasks'>

        <div class='project-column'>

          <h2 class="column-title">Em Progresso</h2>

          <div class='project-column in-progress-column'>
            
          <div class='task' draggable='true'>
            <div class='task__tags'><span class='task__tag task__tag--design'>Definição dos horários de venda</span></div>
            <p>Análise dos críterios para os melhores horários para o ínicio e fim das vendas</p>
            <div class='task__stats'>
              <span class='task__owner'></span>
            </div>
          </div>
          
          <div class='task' draggable='true'>
            <div class='task__tags'><span class='task__tag task__tag--illustration'>Marketing da marca</span></div>
            <p>Definição de como será a publicidade da marca.</p>
            <div class='task__stats'>
              <span class='task__owner'></span>
            </div>
          </div>
          
          <div class='task' draggable='true'>
            <div class='task__tags'><span class='task__tag task__tag--copyright'>Entrega dos componentes eletrônicos</span></div>
            <p>Definição da data e o encarregado da entrega dos componentes eletrônicos</p>
            <div class='task__stats'>
              <span class='task__owner'></span>
            </div>
          </div>
          
          <div class='task' draggable='true'>
            <div class='task__tags'><span class='task__tag task__tag--illustration'>Local físico</span></div>
            <p>Achar o local físico da empresa que cumpra os requisitos.</p>
            <div class='task__stats'>
              <span class='task__owner'></span>
            </div>
          </div>
          
        </div>

        <h2 class="column-title">Atividades concluidas</h2>

        <div class='project-column done-column'>

          
          
        <div class='task' draggable='true'>
          <div class='task__tags'><span class='task__tag task__tag--design'>Pesquisa de Mercado</span></div>
          <p>Analisar o mercado de tecnologia para identificar oportunidades e tendências, Definir o público-alvo da empresa, Pesquisar os concorrentes e seus produtos ou serviços.</p>
          <div class='task__stats'>
            <span class='task__owner'></span>
          </div>
        </div>
        
        <div class='task' draggable='true'>
          <div class='task__tags'><span class='task__tag task__tag--illustration'>Definição do Modelo de Negócio</span></div>
          <p> Definir o tipo de empresa que será aberta (LTDA, MEI, etc.), escolher o nicho de mercado em que a empresa irá atuar, definir os produtos ou serviços que serão oferecidos.</p>
          <div class='task__stats'>
            <span class='task__owner'></span>
          </div>
        </div>
        
        <div class='task' draggable='true'>
          <div class='task__tags'><span class='task__tag task__tag--copyright'>Planejamento Estratégico</span></div>
          <p>Criar um plano de negócios detalhado, incluindo projeções financeiras.</p>
          <div class='task__stats'>
            <span class='task__owner'></span>
          </div>
        </div>
        
        <div class='task' draggable='true'>
          <div class='task__tags'><span class='task__tag task__tag--illustration'>Captação de Recursos</span></div>
          <p>Buscar investimento para a empresa através de bancos, fundos de investimento ou crowdfunding.</p>
          <div class='task__stats'>
            <span class='task__owner'></span>
          </div>
        </div>
      </div>

    </main>

    <aside class='task-details'>
      <div class='tag-progress'>

        <h2>Progresso das Atividades</h2>

        <div class='tag-progress'>
          <p>Definição dos hórarios de venda <span>0/1</span></p>
          <progress class="progress progress--copyright" max="1" value="0"> 1 </progress>
        </div>

        <div class='tag-progress'>
          <p>Marketing da marca <span>0/1</span></p>
          <progress class="progress progress--copyright" max="1" value="0"> 3 </progress>
        </div>

          <div class='tag-progress'>
            <p>Entrega dos componentes eletrônicos <span>0/1</span></p>
            <progress class="progress progress--illustration" max="1" value="0"> 2 </progress>
          </div>
          
          <div class='tag-progress'>
            <p>Local fisíco <span>0/1</span></p>
            <progress class="progress progress--illustration" max="1" value="0"> 3 </progress>
        </div>

      </div>
    </aside>
  </div>
  <nav>
    <ul>
      <li><a href="paginaTare.html"><img src="img/pranchetas.png" alt="Icone de mudar modo: Claro ou Escuro" class="img-fluid usuario-imagem" style="max-width: 50px;"></a></li>
      <li><a href="paginaInicia.html"><img src="img/casa.png" alt="Icone de mudar modo: Claro ou Escuro" class="img-fluid usuario-imagem" style="max-width: 60px;"></a></li>
      <li><a href="paginaUsuario.html"><img src="img/definicoes.png" alt="Icone de mudar modo: Claro ou Escuro" class="img-fluid usuario-imagem" style="max-width: 50px;"></a></li>
    </ul>
</nav>
       </section>
    </body>
</html>