<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css">

        <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
        />

        <script src="./js/tarefasConcluidas.js" defer></script>
       
        <script src="./js/mudaCor.js" defer></script>

        <title>Tarefas Concluídas - Cronos</title>
    </head>

    <body>
        <header class="header-geral"> 
            <div class="header-content">
                <div class="company-info">
                    <h1 class="cortxt">Nome da Empresa</h1>
                    <p>CNPJ: 00.000.000/0001-00</p>
                </div>
                <img src="img/pngegg.png" alt="Logo da Empresa" class="company-logo">
            </div>
        </header>

       <section class="sbody3">

        <div class="todo-container">
            <header class="header-tarefa">
                <h1 class="cortxt">Tarefas Concluídas</h1>
            </header>
            <div id="todo-list"></div>
        </div>

        <nav>
            <ul>
              <li><a href="paginaTarefas.html"><img src="img/pranchetas.png" alt="Icone de Tarefas" class="img-fluid usuario-imagem" style="max-width: 50px;"></a></li>
              <li><a href="paginaInicial.html"><img src="img/casa.png" alt="Icone de Início" class="img-fluid usuario-imagem" style="max-width: 60px;"></a></li>
              <li><a href="paginaUsuario.html"><img src="img/definicoes.png" alt="Icone de Configurações" class="img-fluid usuario-imagem" style="max-width: 50px;"></a></li>
            </ul>
        </nav>
       </section>
    </body>
</html>
