<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha - Cronos</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="./css/style.css">
    <script src="js/mudaCor.js" defer></script>
    <script src="./js/jquery.js"></script>
    <script src="../model/Axios.js"></script>
    <script src="js/sweetalert.js"></script>
    <script src="../controller/validateController.js"></script>
    <script src="../controller/modelController.js"></script>
    <script src="./js/paginaRecuperaSenha.js" defer></script>
</head>
<body>
    <section class="sbody">
        <div class="container" id="login">
            <div class="container" id="container-logo">
                <img src="./img/logots.png" alt="Logo do App" class="logo">
            </div>
            <div class="mb-3">
                <label for="identifier" class="form-label">CPF/CNPJ:</label>
                <input class="form-control" id="identifier" type="number" placeholder="Digite seu CPF/CNPJ" maxlength="14" minlength="11" required/>
                <label for="identifier" class="fix" id="fix-data-ident"></label>
            </div>
            <div class="container">
                <button type="submit" onclick="enviaEmail()" class="btn btn-primary">Continuar</button>
            </div>
            <div class="container" id="forgot">
                <button class="btn btn-link" onclick="window.location.href='paginaLogin.html'">Voltar para Login</button>
            </div>
        </div>
    </section>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>