.sbody{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 70%;
}

.form-control{
    border-top: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 2px 2px #d3d3d3;
}

.btn-primary{
    background-color: #32C6F4;
    margin: 0;
    border: 0;
}

.buttons-cascade{
    display: grid;
    /* espaço entre um elemento interno e outro */
    grid-gap: 10px;
    /* margem interna que afasta os elementos da borda do grid */
    padding: 20px 10px;
    margin: 10px;
    width: 100%;
}

#login{
    width: 25%;
    align-self: center;
}

#container-logo{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-bottom: 4%;
}

.btn-link{
    color: #32C6F4;
    text-decoration: none;
}

#forgot{
    text-align: right;
}
@media (max-width: 500px){
    #login{
        width: 75%;
    }
}
