/* Cores principais do Cronos:*/
:root {
    /*Para o modo claro*/

    --cor-primaria: #32C6F4; /* Azul */
    --cor-secundaria: #92E5FF; /* Azul claro */
    --cor-terciaria: #0056b3; /* Azul escuro */
    --cor-fundo: #fff; /* Branco para o fundo no modo claro */
    --cor-text: #000000;
    --cor-link: #1c2aec;
    --cor-container: #55D1F8;

    /*Para o modo escuro*/

    --cor-fundoE: #1A1818; /* Preto de fundo para o modo escuro*/
    --cor-primariaE: #2A4F83; /* Azul escuro*/
    --cor-secundariaE: #07194F;
    --cor-textE: #fff;
    --cor-linkE: #fff;

}
/*------------------------------------------------------ pagina Login --------------------------------------------------------------------------*/

.sbody{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fix{
    font-size: 1.7vh;
}

.logo{
    width: 70%;
}

.form-control{
    border-top: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 2px 2px #d3d3d3;
}

.btn-primary{
    background-color: var(--cor-primaria);
    margin: 0;
    border: 0;
}

.buttons-cascade{
    display: grid;
    /* espaço entre um elemento interno e outro */
    grid-gap: 10px;
    /* margem interna que afasta os elementos da borda do grid */
    padding: 20px 10px;
    margin: 10px;
    width: 100%;
}

#login{
    width: 25%;
    align-self: center;
}

#container-logo{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-bottom: 4%;
}

.btn-link{
    color: var(--cor-primaria);
    text-decoration: none;
}

#forgot{
    text-align: right;
}
@media (max-width: 500px){
    #login{
        width: 75%;
    }
    #cadastro-container{
        width: 85%;
    }
    #cadastro1-container{
        width: 85%;
    }
    #cadastro2-container{
        width: 85%;
    }
    #cadastro-cancelar{
        width: 85%;
    }
    #main{
        width: 100%;
    }
    #main1{
        width: 100%;
    }
    #main2{
        width: 100%;
    }
    #tarefas-container{
        width: 90%;
    }
    #usuario-container{
        width: 100%;
    }
    #inicio-container{
        width: 90%;
    }
    #modal{
        width: 90%;
    }
    .estilo-customizado {
        width: 90%;
    }
}

/* --------------------------------------- Parte referente a pagina de cadastro ----------------------------------------------------------------*/

.sbody1{
    background-color: var(--cor-primaria);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cadastro-container{
    align-self: center;
}

#cadastro1-container{
    align-self: center;
}

#cadastro2-container{
    align-self: center;
}

#cadastro-cancelar{
    align-self: center;
}

#end{
    display: flex;
    flex-direction: column;
}

#number{
    width:40%;
}
#end2{
    display: flex;
    flex-direction: row;
}

#cep{
    width: 128px;
}

.cadastro-container {
    background: linear-gradient(to bottom right, var(--cor-primaria), var(--cor-secundaria));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    position: relative; /* Adicionado */
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
}

.cadastro-cancelar {
    width: 300px;
    text-align: center;
    position: relative; /* Adicionado */
    z-index: 2;
}

.progressbar{
    
    position: relative;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 1%;
    counter-reset: step;

}

.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #d3d3d3;
    z-index: -1;
}

.progress{
    background-color: var(--cor-terciaria);
    width: 0%;
    transition: 0.3s;
}

.progress-step{
    width: 35px;
    height: 35px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before{
    counter-increment: step;
    content: counter(step);
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active{
    background-color: var(--cor-terciaria);
    color: var(--cor-textE);
    
}

@keyframes animate {
      from {
        transform: scale(1, 0);
        opacity: 0;
      }
      to {
        transform: scale(1, 1);
        opacity: 1;
      }
}

.cadastro1-container {
    background: linear-gradient(to top right, var(--cor-primaria), var(--cor-secundaria));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    position: relative; /* Adicionado */
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
}

.cadastro2-container {
    background: linear-gradient(to top right, var(--cor-primaria), var(--cor-secundaria));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    position: relative; /* Adicionado */
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
}

#submit-btn{
    background-color: #4F4F4F;
    margin: 0;
    border: 0;
    text-align: center;
    width: 50%;
}

.cadastro-container h2 {
    margin-bottom: 20px;
    color: var(--cor-text);
    text-align: left;
}

.custom-btn:hover {
    background-color: var(--cor-terciaria);
}

.cadastro-form {
    text-align: left;
}

.cadastro-container input[type="email"],
.cadastro-container input[type="tel"],
.cadastro-container input[type="password"],
.cadastro-container input[type="text"] {
    
    color: var(--cor-text);
    width: 100%;
    padding: 10px;
    border-top: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 2px 2px #d3d3d3;
}

.cadastro-container label.textq {
    display: block;
    margin-bottom: 5px;
}

.cadastro-container input[type="date"] {
    display: block;
    color: var(--cor-text);
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px #d3d3d3;
}


.cadastro-container button[type="submit"],
.cadastro-container button[type="button"] {
    width: 100%;
    padding: 10px;
    border-top: 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.cadastro-container button[type="submit"] {
    background-color: #4F4F4F;
    color: var(--cor-fundo);
    width: 50%;
    align-content: center;
}

.cadastro-container button[type="submit"]:hover {
    background-color: #4F4F4F;
}

.cadastro-container button[type="button"] {
    background-color: #FFFFFF;
    color: #333;
}

.cadastro-container button[type="button"]:hover {
    background-color: #b3b3b3;
}

.cadastro-container button[type="submit"]:hover {
    background-color: #b3b3b3;
}

.textq {
    color: var(--cor-textE); 
    text-align: left;
}

.custom-btn1 {
    background-color: var(--cor-textE); 
    color: var(--cor-text); 
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
}


.custom-btn2 {
    background-color: var(--cor-fundo); 
    color: var(--cor-secundaria); 
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    width: 50%;
}

.btn-primary1{
    background-color: #d3d0d0;
    margin: 0;
    border: 0;
}

.fix1{
    font-size: 1.7vh;
    color: #ef0808;
}

.btn-link1{
    color: var(--cor-link);
    text-decoration: underline;
}

#submit-btn,
#submit-btn-cadastro2 {
    margin: 20px auto; /* Adiciona margem nas laterais automáticas para centralizar horizontalmente */
}
/* ---------------------------------------------------------- página coberta ------------------------------------------------------------------- */
#titulo {
    font-family: 'Inter'; 
    font-size: 2.5em; 
    color: var(--cor-fundo) 
}
/*  ---------------------------------------------------------- página inicial ------------------------------------------------------------------ */

.sbody2 {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    display: flex;
}

/* Estilo para o cabeçalho */
header {
    background-color: var(--cor-primaria);
    padding: 10px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo para o conteúdo do cabeçalho */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui os elementos igualmente */
}

/* Estilo para o nome da empresa */
.company-info h1 {
    margin: 0;
    color: var(--cor-text);
}

/* Estilo para o CNPJ */
.company-info p {
    margin: 0;
    font-size: 14px;
    color: var(--cor-text);
}

/* Estilo para a logo */
.company-logo {
    width: 100px; 
    height: auto; 
}

main {
    background-color: var(--cor-fundo);
    min-height: calc(100vh - 150px); 
}

.modal-content {
    background-color: var(--cor-primaria)
}

.modal-dialog {
    width: 80%; 
}

#inicio-container{
    
    align-self: center;
}

.inicio-container {
    background: linear-gradient(to bottom right, var(--cor-primaria), var(--cor-secundaria));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adiciona espaço abaixo de cada container */
    text-align: center;
    position: relative; 
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
}

.inicio-container h2 {
    margin-bottom: 10px;
    color: (--cor-text);
    text-align: left;
}

.usuario-container h4 {
    margin-bottom: 10px;
    color: var(--cor-text);
    text-align: left;
}

.inicio-container p {
    margin-bottom: 20px;
    color: var(--cor-text);
    text-align: left;
    font-size: 14px; 
}

#inicio-container:hover {
    background-color: var(--cor-link);
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

nav {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-primaria);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-textE);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: var(--cor-terciaria);
}

.usuario2-container .col:hover {
    background-color: var(--cor-fundo);
    transform: scale(1.05); 
    transition: transform 0.3s ease;
    padding: 10px;
    cursor: pointer;
}

#usuario-container{
    
    align-self: center;
}

.usuario2-container {
    background: linear-gradient(to bottom right, var(--cor-primaria), var(--cor-secundaria));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adiciona espaço abaixo de cada container */
    text-align: center;
    position: relative; 
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
}

.usuario2-container h2 {
    margin-bottom: 10px;
    color: var(--cor-text);
    text-align: left;
}

.usuario2-container h4 {
    margin-bottom: 10px;
    color: var(--cor-text);
    text-align: left;
}

.usuario2-container p {
    margin-bottom: 20px;
    color: var(--cor-text);
    text-align: left;
}

.progress-bar-container1 {
    width: 100%;
    height: 20px; 
    background-color: green; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.progress-bar-container1 p{
    color: var(--cor-textE);
}

.progress-bar-container2 {
    width: 100%;
    height: 20px; 
    background-color: var(--cor-fundo); 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.progress-bar-container1 p{
    color: var(--cor-textE);
}


/*  ---------------------------------------------------------- página tarefas ------------------------------------------------------------------ */

#main1 {
    background-color: var(--cor-fundo);
    align-self: center;
    position: relative;
}

#tarefa-container{
    
    align-self: center;
}

.tarefa-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    position: relative; 
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
    margin-bottom: 20px;
}

.tarefa-container h2 {
    margin-bottom: 10px;
    color: var(--cor-text);
    text-align: left;
}

.tarefa-container .col:hover {
    background-color: var(--cor-secundaria);
    transform: scale(1.05); 
    transition: transform 0.3s ease;
    padding: 10px;
    cursor: pointer;
}

/*  ---------------------------------------------------------- página Usuario ------------------------------------------------------------------ */
#main2 {
    align-self: center;
    position: relative;
}

#usuario-container{
    
    align-self: center;
}

.usuario-container {
    background: linear-gradient(to bottom right, var(--cor-primaria), var(--cor-secundaria));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    position: relative; 
    z-index: 2;
    transform-origin: top;
    animation: animate .5s;
}

.usuario-container h2 {
    margin-bottom: 10px;
    color: var(--cor-text);
    text-align: left;
}

.usuario-container h4 {
    margin-bottom: 10px;
    color: var(--cor-text);
    text-align: left;
}

.usuario-container p {
    margin-bottom: 20px;
    color: var(--cor-text);
    text-align: left;
}

.btn-primaryU{
    background-color: var(--cor-secundaria);
    margin: 0;
    border: 0;
    padding: 15px; 
    font-size: 1.25rem; 
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    width: 50%;
}

.btn-primaryU:hover {
    background-color: var(--cor-terciaria);
}

.btn-link2{
    color: var(--cor-text);
    text-decoration: underline;
}

.btn-link2:hover{
    color: var(--cor-terciaria)
}

.container-imagem-direita {
    text-align: right; /* Para alinhar a imagem à direita */
}
