:root {
  --bg:#ebf0f7;
  --header:#fbf4f6;
  --text:#2e2e2f;
  --white:#ffffff;
  --light-grey:#c4cad3; 
  --tag-1:#ceecfd;
  --tag-1-text:#2e87ba;
  --tag-2:#d6ede2;
  --tag-2-text:#13854e;
  --tag-3:#ceecfd;
  --tag-3-text:#2d86ba;
  --tag-4:#f2dcf5;
  --tag-4-text:#a734ba;
  --purple:#7784ee;

  --cor-primaria: #32C6F4; /* Azul */
  --cor-secundaria: #92E5FF; /* Azul claro */
  --cor-terciaria: #0056b3; /* Azul escuro */
  --cor-fundo: #fff; /* Branco para o fundo no modo claro */
  --cor-text: #000000;
  --cor-link: #1c2aec;
  --cor-link1: #2B9BC0;
  --cor-container: #55D1F8;
  --cor-butãoU: #fff;
  --cor-botão: #fff;
  --cor-nav: #92E5FF;
  --cor-link2: #2A8353;
  --cor-title: #fff;
  --cor-fundoC: #32C6F4;
  --cor-botaoT: #fff;

  /*Para o modo escuro*/

  --cor-fundoE: #1A1818; /* Preto de fundo para o modo escuro*/
  --cor-primariaE: #2A4F83; /* Azul escuro*/
  --cor-secundariaE: #07194F;
  --cor-textE: #fff;
  --cor-linkE: #fff;
  --cor-navE: #3565A9;
  --cor-link2E: #32F474;
  --cor-title: #2A4F83;
}

*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  
}

.sbody-4 {
  color:var(--cor-text);
  background-color: var(--cor-fundo);
}

@mixin display {
    
  display:flex;

  align-items:center;
}

.app {
  background-color:linear-gradient(to left, var(--cor-primaria), var(--cor-secundaria));
  width:100%;
  min-height:100vh;
}

.project-activites__add,
.project-participants__add {
    padding: 0.75rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor-primaria); /* Cor do botão */
    color: var(--cor-textE); /* Cor do texto do botão */
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 2px solid transparent;
}

.project-activites__add:hover,
.project-participants__add:hover {
    background-color: var(--cor-text); /* Cor do botão ao passar o mouse */
    color: var(--cor-primaria); /* Cor do texto ao passar o mouse */
    border-color: var(--cor-primaria); /* Cor da borda ao passar o mouse */
}

h1 {
  font-size:30px;
}

.project {
  padding:2rem;
  max-width:75%;
  width:100%;
  display:inline-block;
  
  &-info {
    padding:2rem 0;
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
  }

  &-participants {
    @include display;
    span,
    &__add{
      width:30px;
      height:30px;
      display:inline-block;
      background:var(--purple);
      border-radius:100rem;
      margin:0 .2rem; 
    }
    &__add {
     background:transparent;
     border:1px dashed rgb(150,150,150);
     font-size:0;
     cursor:pointer;
     position:relative;
      
      &:after {
        content:'+';
        font-size:15px;
        color:rgb(150,150,150);
        
      }
    }
  }
  
  &-tasks {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    width:100%;
    grid-column-gap:1.5rem;
  }
  &-column {
    
    &-heading {
      margin-bottom:1rem;
      @include display;
      justify-content:space-between;
      &__title {
        font-size:20px;
 
      }
      &__options {
        background:transparent;
        color:var(--light-grey);
        font-size:18px;
        border:0;
          cursor:pointer;
      }
    }
  }
}

.task {
  color: var(--cor-textE);
  cursor:move;
  background-color: var(--cor-primaria);
  padding:1rem;
  border-radius:8px;
  width:100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom:1rem;
  border:3px dashed transparent;
  
  &:hover {
     box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color:rgba(162,179,207,.2)!important;
    padding: 1.5rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-fundoE);
  }
  
  p {
    font-size:15px;
    margin:1.2rem 0;
  }
  &__tag {
    border-radius:100px;
    padding:2px 13px;
    font-size:12px;
    
    &--copyright {
      color:var(--tag-4-text);
      background-color:var(--tag-4);
    }
    &--design {
       color:var(--tag-3-text);
      background-color:var(--tag-3);
    }
    &--illustration {
      color:var(--tag-2-text);
      background-color:var(--tag-2);
    }
    
  }
  &__tags { 
    width:100%;
    @include display;
    justify-content:space-between;
  }
  
  &__options {
      background:transparent; 
      border:0;
    color:var(--light-grey);
    font-size:17px;
    }
  
  &__stats {
    
    position:relative;
    width:100%;
    color:var(--light-grey);
    
    font-size:12px;
    span:not(:last-of-type){
      margin-right:1rem;
    }
    svg {
      margin-right:5px;
    }
  }
  
  &__owner {
    width:25px;
    height:25px;
    border-radius:100rem;
    background:var(--purple);
    position:absolute;
    display:inline-block;
    right:0;
    bottom:0;
    
  }
}

.subtask.completed span {
  font-weight: bold;
  color: lightgreen;
  text-decoration: line-through;
}

.task-hover {
border:3px dashed var(--light-grey)!important;
}
.task-details {
  width:24%;
  border-left:1px solid #d9e0e9;
  display:inline-block;
  height:100%;
  vertical-align:top;
  padding:3rem 2rem;
}

.tag-progress {
  margin: 1.5rem 0;

  h2 {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  p {
    display: flex;
    width: 100%;
    justify-content: space-between;

    span {
      color: rgb(180, 180, 180);
    }
  }

  .progress-container {
    margin-top: 20px;
  }

  .progress-bar {
    margin-bottom: 10px;
    span {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }

  .progress {
    display: flex;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-color: #e0e0e0; /* Background for the gray part */
  }

  .progress__bar--green {
    background-color: #4caf50; /* Green color for the completed part */
    height: 100%;
    transition: width 0.3s ease-in-out;
  }

  .progress__bar--gray {
    background-color: #e0e0e0; /* Gray color for the remaining part */
    height: 100%;
    transition: width 0.3s ease-in-out;
  }

  .progress--copyright {
    &::-webkit-progress-bar {
      background-color: #ecd8e6;
    }

    &::-webkit-progress-value {
      background: #d459e8;
    }
  }

  .progress--illustration {
    &::-webkit-progress-bar {
      background-color: #dee7e3;
    }

    &::-webkit-progress-value {
      background-color: #46bd84;
    }
  }

  .progress--design {
    &::-webkit-progress-bar {
      background-color: #d8e7f4;
    }

    &::-webkit-progress-value {
      background-color: #08a0f7;
    }
  }
}


.task-activity {
   h2 {
    font-size:16px;
    margin-bottom:1rem;
    color: var(--cor-linkE);
  }
  
  li {
    list-style:none;
    margin:1rem 0;
    padding:0rem 1rem 1rem 3rem;
    position:relative;
  }
  time {
    display:block;
    color:var(--light-grey);
  }
}

.task-icon {
  width:30px;
  height:30px;
  border-radius:100rem;
  position:absolute;
  top:0;
  left:0;
  @include display;
  justify-content:center;
  

  svg {
    font-size:12px;
    color:var(--white);
  }
  &--attachment {
    background-color:#fba63c;
  }
  
  &--comment {
    background-color:#5dc983;
  }
  
  &--edit {
    background-color:#7784ee;
  }
 
}


.search-filter {
  display: flex;
  gap: 10px;
  margin-top: 1.0rem;
  margin-bottom: 2.0rem;
}

#search-bar {
  padding: 5px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#status-filter {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



@media only screen and (max-width: 1300px) {
  .project {
    max-width:100%;
  }
  .task-details {
    width:100%;
    display:flex;
  }
  .tag-progress,
  .task-activity {
    flex-basis:50%;
    background:var(--white);
    padding:1rem;
    border-radius:8px;
    margin:1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .project-column:nth-child(2),
  .project-column:nth-child(3){
    display:none;
  }
  .project-tasks {
    grid-template-columns:1fr 1fr;
  }
}



@media only screen and (max-width: 600px) {
  .project-column:nth-child(4){
    display:none;
  }
  .project-tasks {
    grid-template-columns:1fr;
  }
  
  .task-details {
    flex-wrap:wrap;
    padding:3rem 1rem;
  }
  .tag-progress,
  .task-activity {
    flex-basis:100%;
  }
  h1 {
    font-size:25px;
  }
}

.project-column-heading_title {
  margin-bottom: 2rem;
}

nav {
  text-align: center;
  border-radius: 1.835rem; /* Valor igual a metade da altura */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 23%;
  background-color: var(--cor-primaria);
  box-shadow: 0 0 0 5px var(--cor-nav);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--cor-textE);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li:hover {
  background-color: var(--cor-nav);
  box-shadow: 0 0 0 3px var(--cor-secundaria);
  border-radius: 30px;
}

/* Estilo para o cabeçalho */
.header-geral {
  background-color: var(--cor-primaria);
  padding: 10px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

/* Estilo para o conteúdo do cabeçalho */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui os elementos igualmente */
  
}

/* Estilo para o nome da empresa */
.company-info h2 {
  margin: 0;
  color: var(--cor-text);
}

/* Estilo para o CNPJ */
.company-info p {
  margin: 0;
  font-size: 14px;
  color: var(--cor-text);
}

/* Estilo para a logo */
.company-logo {
  width: 100px; 
  height: auto; 
}

/* CSS adicionado */
.column-title {
  margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.in-progress-column, .done-column {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}
